{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container-fluid">
        <h2>New Listing:</h2>
        <form action="{% url 'new_listing' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="title" id="title" placeholder="Title" class="form-control">
            </div>
            <div class="form-group">
                <input type="number" step="0.01" min="0" name="initial_price" id="initial_price" placeholder="Price" class="form-control">
            </div>
            <div class="form-group">
                <textarea name="description" id="description" placeholder="Description" class="form-control"></textarea>
            </div>
            <div  class="form-group">
                <input type="url" name="image" id="image" placeholder="URL Image" class="form-control">
            </div>

            <select name="category">
                <option selected>Category</option>
                {% for category in categories %}
                    <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
              </select>
            <input type="Submit" value="Create" class="btn btn-primary">
        </form>
    </div>
{% endblock %}


